*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 14px;
 background: #f2f2f2;
}
.wrapper 
{
    background-color: #fff;
    width:500px;
    padding: 25px;
    margin: 50px auto 0;
    border-radius: 10px;
    border-top: 8px solid #179c8a;
    box-shadow: 0px 6px 15px 15px rgba(0, 0, 0, 0.4);
}
.wrapper h1
{
    font-size: 30px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: center;
}
.wrapper h2
{
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.lock{
    padding:8px 11px;
}
.name{
    width: 45%;
    padding:8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding:8px 0 8px 40px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    border-right: 1px solid #cccccc;
}
.email{
    padding: 8px;
}
.mobile{
    padding: 8px 11px;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    border-radius: 10px;
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
}
.text-name:hover, .name:hover{
    background-color: #fafafa;
}
.text-name:focus, .name:focus{
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
      -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
      box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
      border: 1px solid #f5ba1a;
      background: #fafafa;
}
.chack::before{
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}
.chack::after
{
    border-right: 2px solid #000;
          border-top: 2px solid #0000;
          content: "";
          height: 20px;
          left: 2px;
          position: absolute;
          top: 7px;
          transform: scaleX(-1) rotate(135deg);
          transform-origin: left top;
          width: 7px;
          display: none;
}
.chack-button
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.chack-button:hover +.chack::before
{
    border-color: #000;
}
.chack-button:checked +.chack::before
{
    border-color: #000;
}
.chack-button:checked +.chack::after
{
    -moz-animation: check 0.8s ease 0s running;
        -webkit-animation: check 0.8s ease 0s running;
        animation: check 0.8s ease 0s running;
        display: block;
        width: 7px;
        height: 20px;
        border-color: #000;
}
a
{
	text-decoration: none;
	color: navy;
}
@-webkit-keyframes check 
{
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  } 
  @keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  }
  .button
  {
    background:#25b09d;
    height: 35px;
    line-height: 35px;
    width: 50%;
    border-radius: 15px;
    text-align: center;  
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;   
  }
  .button:hover
  {
      background-color: #176359;
  }
  @media (max-width: 480px) {
      .wrapper{
          width: 100%;
      }
      .input-name{
          margin-bottom: -10px;
      }
      .name{
          width: 100%;
          padding:8px 0 8px 40px;
          margin-bottom: 10px;
      }
      .input-name span{
          padding: 0;
          margin:0;
      }
  }
#subtext1
{
    display: block;
    color: #000;
    margin-top: 1px;
    font-weight: 300;
    font-style: italic;
    padding: 2px;
}
#subtext2
{
    display: block;
    color: #000;
    margin-top: 1px;
    font-weight: 300;
    font-style: italic;
}
.short 
{
    height: 5px;
    color: red;
}
.weak
 {
  color: #E66C2C;
  height: 5px;
}
.good 
{
  color: #f5e42f;
  height: 5px;
}
.strong {
  color: lime;
  height: 5px;
}

*{
	box-sizing: border-box;
}
nav
{
   overflow: hidden;
   background-color: #172259;
   padding: 10px;
}
.links
 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   float: left;
   color:white;
   text-align: center;
   padding: 12px 75px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}
nav .logo 
{
   font-size: 25px;
   font-weight: bold;
} 
nav button
{
	text-decoration: none;
	background: transparent;
	border: none;
}
nav .selected 
{
   background: transparent;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   float: left;
   color:white;
   text-align: center;
   padding: 12px 10px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}
nav .selected:hover
{
	background-color: #45a2a8;
	cursor: pointer;
}
.rightSection 
{
   float: right;
}
@media screen and(max-width: 870px)
{
   nav .links 
   {
      float: none;
      display: block;
      width: auto;
      text-align: center;
   }
   .rightSection {
      float: none;
   }
}